<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ida:AppID" value="fa2002ca-eb22-40f1-bf37-f052e2e0f204" />
  <add key="ida:AppSecret" value="+T.F)%z.Jvf.Zyiy6FE5LM9lL@eDq[" />
  <add key="ida:RedirectUri" value="http://localhost:64107" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>
